/* The CSS file for the main webpage - some things are defined in the global sheet instead of this local sheet. */

#about_us {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 256px;
	text-align: center;
}

p {
	font-size: 20px;
}