/* This CSS file is being referenced in all web pages, so a change here should change the CSS on every page. */

header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 136px;
	background-color: orange;
	grid-template-columns: 50vw auto 30vw;
	display: grid;
}

#header_left {
	grid-template-columns: 128px auto;
	display: grid;
	width: 50vw;
}

#logo {
	width: 100px;
	margin: 18px;
	border: 1px solid;
	border-color: black;
}

#header_right {
	grid-template-rows: 30px auto;
	text-align: center;
}

.search_bar {
	width: auto;
	height: 30px;
	border-radius: 20px;
	border: 1px solid;
	padding: 5px;
}

footer {
	position: fixed;
	top: 100vh;
	left: 0px;
	right: 0px;
	transform: translate(0%, -80px);
	height: 80px;
	background-color: orange;
}

h1 {
	font-size: 100px;
	margin: 10px;
	color: black;
	text-decoration: none;
}

h2 {
	font-size: 49px;
	margin: 10px;
	margin-left: 50px;
}

p {
	font-size: 16px;
}
